@import '../../../../../assets/styles/helpers/variables';

#normal-lottery {
  .container {
    &-normal-lottery {
      background: #ffffff;
      padding: 8px 0 12px;
      border: 1px solid rgba(174, 185, 199, 0.2);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.06);
      border-radius: 8px;
      margin-top: 16px;
    }
    &-lottery {
      &__by-province {
        padding: 12px;
        border-bottom: 1px solid rgba(174, 185, 199, 0.2);
      }
    }
    &-total-price {
      @include display-flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 12px 0;
      .amount {
        font-weight: 800;
        font-size: 1rem;
        color: #acacac;
        span {
          color: #f5493a;
        }
      }
    }
    &-input {
      @include display-flex;
      align-items: center;
    }
    &-amount {
      @include display-flex;
      align-items: center;
      width: 100%;
      padding-bottom: 0;
      justify-content: flex-start;
      .quantity {
        font-size: 0.75rem;
        margin-left: 8px;
        line-height: 1;
        span {
          color: #e1584c;
        }
      }
    }
  }
  .normal-lottery {
    &__header {
      @include display-flex;
      align-items: center;
      padding: 0 12px 8px;
      border-bottom: 1px solid rgba(174, 185, 199, 0.2);
      .icon {
        &__logo {
          width: 36px;
          height: 44px;
          margin-right: 12px;
        }
      }
      .title {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
        color: #092249;
        margin-bottom: 0;
      }
    }
  }
  .icon {
    &__trash {
      cursor: pointer;
      width: 16px;
      min-width: 16px;
      height: 16px;
    }
    &__remove {
      cursor: pointer;
      width: 16px;
      min-width: 16px;
      height: 16px;
      margin-left: 4px;
    }
  }
  .lottery {
    &__by {
      &-province {
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__title {
      font-weight: 700;
      font-size: 0.875rem;
      color: $main-color;
      margin-bottom: 12px;
    }
    &__detail {
      @include display-flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__number,
    &__quantity {
      font-weight: 600;
      font-size: 0.875rem;
    }
    &__number {
      color: #092249;
      min-width: 60px;
    }
    &__quantity {
      color: #e1584c;
      width: 100%;
    }
  }
  .btn {
    &-remove {
      @include display-flex;
      align-items: center;
      font-weight: 700;
      font-size: 0.875rem;
      color: #092249;
    }
    &-input {
      padding: 6px;
      border-radius: 2px;
      width: 24px;
      height: 24px;
      @include display-flex;
      align-items: center;
      justify-content: center;
      background: #e1584c;
      color: #fff;
      cursor: pointer;
    }
    &-reduce {
      margin-right: 8px;
      &.disabled {
        background-color: #eeeeee;
        color: #acacac;
      }
    }
    &-increasing {
      margin-left: 8px;
      &.disabled {
        background-color: #eeeeee;
        color: #acacac;
      }
    }
  }
  .ant-input-number {
    width: 50px;
    height: 24px;
    border-radius: 2px !important;
    border-color: #eeeeee;
    box-shadow: none;
    font-size: 0.875rem;
    &-input {
      height: 24px;
      text-align: center;
    }
  }
}
