@import '../../../../../assets/styles/helpers/variables';
#ModalHallOrderSale {
  background-color: $main-background-color;
  border-radius: 12px;
  overflow: hidden;
  border: none;
  .ModalHallOrderSale {
    &-header {
      padding: 0 16px;
      background-color: $main-background-light;
      height: 52px;
      @include display-flex;
      justify-content: space-between;
      align-items: center;
      .left,
      .right {
        width: 24px;
        height: 24px;
      }
    }

    &-content {
      margin: 20px 0;
      .cover-input {
        padding: 1px 0;
        .name {
          padding-left: 12px;
          font-weight: 400;
          font-size: 0.938rem;
          line-height: 1.25rem;
          color: rgba(255, 255, 255, 0.75);
        }
        .input {
          width: 100%;
          height: auto;
          padding: 8px 0;
          border: none;
          margin: 0px;
          margin-top: 4px;
          background-color: $main-background-color;
          background: $main-background-color;
          color: white;
          &::placeholder {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.25rem;
            color: rgba(255, 255, 255, 0.3);
          }
        }
        .bar {
          border: 0.5px solid rgba(255, 255, 255, 0.5);
          width: calc(100% - 24px);
          margin-left: 12px;
        }
        .changeVND {
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: $main-color;
          margin-left: 12px;
        }
      }
    }

    &-btn {
      margin: 20px 12px 0;
      @include display-flex;
      justify-content: space-between;
      .btnSale-item {
        width: calc(50% - 6px);
        padding: 8px 0;
        text-align: center;
        border-radius: 8px;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        cursor: pointer;
      }
      .cancel {
        background-color: $main-background-light;
        color: rgba(255, 255, 255, 0.7);
      }
      .sale {
        background-color: $main-color;
        color: $main-background-color;
        border: none;
      }
    }
  }
}
