.payment-method-info{
  .detail-title{
    font-style: normal!important;
    font-weight: 400!important;
    font-size: 20px!important;
    line-height: 23px!important;
    color: black;
  }
  .detail-input{
    label{
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #000000;
      margin-bottom: 8px;
    }
    .form-group{
      margin-bottom: 30px;
    }
  }
  button{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin: 0;
  }
}