.game5D {
  &__0n0 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }
  &__0n1 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__0n2 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }
  &__0n3 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__0n4 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }
  &__0n5 {
    background-color: #e1584c;
    position: absolute;
    height: 84px;
    left: 49px;
    width: 1px;
    bottom: -60px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__0n6 {
    background-color: #e1584c;
    position: absolute;
    height: 101px;
    left: 59px;
    width: 1px;
    bottom: -67px;
    z-index: 1000;
    transform: rotate(111deg);
  }

  &__0n7 {
    background-color: #e1584c;
    position: absolute;
    height: 124px;
    left: 66px;
    width: 1px;
    bottom: -80px;
    z-index: 1000;
    transform: rotate(106deg);
  }

  &__0n8 {
    background-color: #e1584c;
    position: absolute;
    height: 133px;
    left: 75px;
    width: 1px;
    bottom: -84px;
    z-index: 1000;
    transform: rotate(106deg);
  }
  &__0n9 {
    background-color: #e1584c;
    position: absolute;
    height: 153px;
    left: 84px;
    width: 1px;
    bottom: -94px;
    z-index: 1000;
    transform: rotate(103deg);
  }

  &__1n0 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__1n1 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__1n3 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__1n2 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__1n4 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__1n5 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__1n6 {
    background-color: #e1584c;
    position: absolute;
    height: 84px;
    left: 49px;
    width: 1px;
    bottom: -60px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__1n7 {
    background-color: #e1584c;
    position: absolute;
    height: 101px;
    left: 59px;
    width: 1px;
    bottom: -67px;
    z-index: 1000;
    transform: rotate(111deg);
  }

  &__1n8 {
    background-color: #e1584c;
    position: absolute;
    height: 124px;
    left: 66px;
    width: 1px;
    bottom: -80px;
    z-index: 1000;
    transform: rotate(106deg);
  }

  &__1n9 {
    background-color: #e1584c;
    position: absolute;
    height: 133px;
    left: 75px;
    width: 1px;
    bottom: -84px;
    z-index: 1000;
    transform: rotate(106deg);
  }

  &__2n1 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__2n2 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__2n4 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__2n3 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__2n5 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__2n6 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__2n7 {
    background-color: #e1584c;
    position: absolute;
    height: 84px;
    left: 49px;
    width: 1px;
    bottom: -60px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__2n8 {
    background-color: #e1584c;
    position: absolute;
    height: 101px;
    left: 59px;
    width: 1px;
    bottom: -67px;
    z-index: 1000;
    transform: rotate(111deg);
  }

  &__2n9 {
    background-color: #e1584c;
    position: absolute;
    height: 124px;
    left: 66px;
    width: 1px;
    bottom: -80px;
    z-index: 1000;
    transform: rotate(106deg);
  }

  &__3n1 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__3n2 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__3n3 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__3n4 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__3n5 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__3n6 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__3n7 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__3n8 {
    background-color: #e1584c;
    position: absolute;
    height: 84px;
    left: 49px;
    width: 1px;
    bottom: -60px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__3n9 {
    background-color: #e1584c;
    position: absolute;
    height: 101px;
    left: 59px;
    width: 1px;
    bottom: -67px;
    z-index: 1000;
    transform: rotate(111deg);
  }

  &__3n0 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__4n2 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__4n3 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__4n4 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__4n5 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__4n6 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__4n7 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__4n8 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__4n9 {
    background-color: #e1584c;
    position: absolute;
    height: 84px;
    left: 49px;
    width: 1px;
    bottom: -60px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__4n0 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__4n1 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__5n3 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__5n4 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__5n5 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__5n6 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__5n7 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__5n8 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__5n9 {
    background-color: #e1584c;
    position: absolute;
    height: 78px;
    left: 40px;
    width: 1px;
    bottom: -57px;
    z-index: 1000;
    transform: rotate(117deg);
  }

  &__5n0 {
    background-color: #e1584c;
    position: absolute;
    height: 85px;
    left: -37px;
    width: 1px;
    bottom: -61px;
    z-index: 1000;
    transform: rotate(243deg);
  }

  &__5n1 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__5n2 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__6n4 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__6n5 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__6n6 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__6n7 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__6n8 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__6n9 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: 30px;
    width: 1px;
    bottom: -48px;
    z-index: 1000;
    transform: rotate(129deg);
  }
  &__6n0 {
    background-color: #e1584c;
    position: absolute;
    height: 104px;
    left: -49px;
    width: 1px;
    bottom: -69px;
    z-index: 1000;
    transform: rotate(249deg);
  }

  &__6n1 {
    background-color: #e1584c;
    position: absolute;
    height: 85px;
    left: -37px;
    width: 1px;
    bottom: -61px;
    z-index: 1000;
    transform: rotate(243deg);
  }

  &__6n2 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__6n3 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__7n5 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__7n6 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__7n7 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__7n8 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: 23px;
    width: 1px;
    bottom: -41px;
    z-index: 1000;
    transform: rotate(140deg);
  }

  &__7n9 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__7n0 {
    background-color: #e1584c;
    position: absolute;
    height: 117px;
    left: -54px;
    width: 1px;
    bottom: -76px;
    z-index: 1000;
    transform: rotate(251deg);
  }
  &__7n1 {
    background-color: #e1584c;
    position: absolute;
    height: 104px;
    left: -49px;
    width: 1px;
    bottom: -69px;
    z-index: 1000;
    transform: rotate(249deg);
  }

  &__7n2 {
    background-color: #e1584c;
    position: absolute;
    height: 85px;
    left: -37px;
    width: 1px;
    bottom: -61px;
    z-index: 1000;
    transform: rotate(243deg);
  }

  &__7n3 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__7n4 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__8n6 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__8n7 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__8n8 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__8n0 {
    background-color: #e1584c;
    position: absolute;
    height: 130px;
    left: -62px;
    width: 1px;
    bottom: -82px;
    z-index: 1000;
    transform: rotate(251deg);
  }

  &__8n9 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 38px;
    left: 14px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(155deg);
  }
  &__8n1 {
    background-color: #e1584c;
    position: absolute;
    height: 117px;
    left: -54px;
    width: 1px;
    bottom: -76px;
    z-index: 1000;
    transform: rotate(251deg);
  }
  &__8n2 {
    background-color: #e1584c;
    position: absolute;
    height: 104px;
    left: -49px;
    width: 1px;
    bottom: -69px;
    z-index: 1000;
    transform: rotate(249deg);
  }

  &__8n3 {
    background-color: #e1584c;
    position: absolute;
    height: 85px;
    left: -37px;
    width: 1px;
    bottom: -61px;
    z-index: 1000;
    transform: rotate(243deg);
  }

  &__8n4 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__8n5 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }

  &__9n7 {
    background-color: #e1584c;
    position: absolute;
    height: 46px;
    left: -12px;
    width: 1px;
    bottom: -40px;
    z-index: 1000;
    transform: rotate(218deg);
  }

  &__9n8 {
    background-color: #e1584c;
    position: absolute;
    height: 38px;
    left: -3px;
    width: 1px;
    bottom: -37px;
    z-index: 1000;
    transform: rotate(204deg);
  }

  &__9n9 {
    background-color: rgb(225, 88, 76);
    position: absolute;
    height: 35px;
    left: 6px;
    width: 1px;
    bottom: -35px;
    z-index: 1000;
  }

  &__9n1 {
    background-color: #e1584c;
    position: absolute;
    height: 130px;
    left: -62px;
    width: 1px;
    bottom: -82px;
    z-index: 1000;
    transform: rotate(251deg);
  }

  &__9n0 {
    background-color: #e1584c;
    position: absolute;
    height: 155px;
    left: -71px;
    width: 1px;
    bottom: -95px;
    z-index: 1000;
    transform: rotate(257deg);
  }
  &__9n2 {
    background-color: #e1584c;
    position: absolute;
    height: 117px;
    left: -54px;
    width: 1px;
    bottom: -76px;
    z-index: 1000;
    transform: rotate(251deg);
  }
  &__9n3 {
    background-color: #e1584c;
    position: absolute;
    height: 104px;
    left: -49px;
    width: 1px;
    bottom: -69px;
    z-index: 1000;
    transform: rotate(249deg);
  }

  &__9n4 {
    background-color: #e1584c;
    position: absolute;
    height: 85px;
    left: -37px;
    width: 1px;
    bottom: -61px;
    z-index: 1000;
    transform: rotate(243deg);
  }

  &__9n5 {
    background-color: #e1584c;
    position: absolute;
    height: 72px;
    left: -30px;
    width: 1px;
    bottom: -52px;
    z-index: 1000;
    transform: rotate(239deg);
  }

  &__9n6 {
    background-color: #e1584c;
    position: absolute;
    height: 59px;
    left: -20px;
    width: 1px;
    bottom: -47px;
    z-index: 1000;
    transform: rotate(230deg);
  }
}
