.otp {
  &__input-otp {
    input {
      width: 48px !important;
      height: 48px;
      border: 1px solid #acacac;
      border-radius: 4px;
      font-weight: bold;
      font-size: 30px;
      color: #222222;
    }
  }
  &__input-error-otp {
    input {
      width: 48px !important;
      height: 48px;
      border: 1px solid #ff2e00;
      border-radius: 4px;
      font-weight: bold;
      font-size: 30px;
      color: #222222;
      background-color: rgba(255, 46, 0, 0.06);
    }
  }
  &__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-top: 40px;
    text-align: center;
    color: var(--main-third-color);
  }
  &__sub_title {
    margin-top: 12px;
    margin-bottom: 40px;
    font-size: 16px;
    text-align: center;
    color: var(--main-twelfth-color);
  }
  &__resend_otp {
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    margin-top: 68px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 28px;
    color: #047b73;
  }
  &__error_otp {
    font-size: 14px;
    margin-top: 16px;
    text-align: center;
    color: #ff647c;
  }
  &__back-text {
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 24px;
    line-height: 24px;
    text-align: center;

    color: var(--main-twelfth-color);
  }
  &__span-between-input {
    width: 12px;
  }

  &__button {
    background-color: #047b73 !important;
    color: #fff !important;
    width: 100%;
    opacity: 0.6;
    cursor: not-allowed;

    &.active {
      cursor: pointer;
      opacity: 1;
    }
  }
}
