.dashboard{
  &__card{
    background: linear-gradient(90deg, #786CF0 0%, #9991F2 100%);
    border-radius: 4px;
  }
  .flatpickr-input {
    background-color: #fff !important;
  }
  &__welcom{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    &-sub{
      font-size: 12px;
      line-height: 16px;
      color: #FFFFFF
    }
  }
  &__statistical{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #635D77;
    margin-bottom: 20px;
  }
}