.header {
  &__navbar {
    width: 100%;
    max-width: 384px;
    top: 0;
    height: 50px;
    line-height: 1.33333rem;
    background-image: linear-gradient(90deg, #c72114 27.6%, #f5493a 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    color: #fff;
    z-index: 999;
    padding: 10px;
    position: relative;
  }
  &__navbar-back {
    width: 20px;
    height: 20px;
  }
  &__navbar-left {
    position: absolute;
    left: 10px;
  }
  &__navbar-right {
    position: absolute;
    right: 10px;
  }

  @media (max-width: 768px) {
    &__navbar {
      max-width: 100%;
    }
  }
}
