@import '../../../../assets/styles/helpers/variables';

#forgot {
  position: relative;

  p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #092249;
    padding: 20px;
  }

  .forgot-container {
    padding: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.12);
  }

  .ic {
    &-show {
      &-password {
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        right: 8px;
        cursor: pointer;
      }
    }
  }

  .container {
    &-input {
      .get-code {
        padding: 2px 8px !important;
        background: rgba(255, 205, 8, 0.08) !important;
        border-radius: 16px;
        color: #ffcd08 !important;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
      }
    }
  }
}
